@import '../../../../../assets/scss/ScssVariable';

.tb-lead-unqualified-report {
  .orderable-icon {
    font-size: 20px !important;
    padding: 3px 0px 0px 0px;
    position: absolute;

    .path2:before,
    .path3:before {
      color: $lightGray;
    }
  }
}
.tb-border-table-lead {
  border-left: none !important;
  border-right: none !important;
}

.ellipsis-text {
	max-width: 150px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.close-scrollbar:has(app-report-lead-unqualified)::-webkit-scrollbar-thumb {
	background-color: #DFDFE8 !important;
	border-radius: 10px !important;
}

.close-scrollbar:has(app-report-lead-unqualified)::-webkit-scrollbar{
	display: block;
	overflow: visible !important;
	width: 6px;
	background-color:white;
}

.contentRight:has(app-report-lead-unqualified){
	overflow: visible !important;
}

.close-scrollbar:has(app-report-lead-unqualified)::-webkit-scrollbar-thumb:hover {
	background-color: #BCBCC8 !important;
}

.container-micro-frontend-report {
	min-height: 100%;
	height: auto;
}

.report-lead-unqualified{
	height: auto !important;
}
